main {
	min-height: 10vh;
	min-width: fit-content;
	display: grid;
	justify-content: center;
	align-items: center;
	border: 1px solid rgb(184, 32, 83);
	padding: 2.5%;
	margin: auto;
}

h1 {
	text-align: center;
	font-size: 3rem;

}

.Profile {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 0 auto;
	padding-left: 0;
	max-width: 800px;
}

.Profile > h2 {
	flex: 1;
	align-content: stretch;
	text-align: center;
	font-weight: bold;
	font-size: 2em;
}

.Profile > p {
	font-size: 1rem;
}

.ProjectsContainer {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	list-style: none;
	gap: 10%;
}

.ProjectsContainer > li {
	flex: 1;
	border: 1px solid #ededed;
	border-radius: 10%;	
	padding: 2%;
}

.ProjectsContainer > li > p {
	text-align: start;
	padding: 2.5%;
}

.projectLinks > a {
	align-self: center;
	padding: 1%;
}

:root {
	--background: #ffffff;
	--foreground: #171717
  }
  
  @media (prefers-color-scheme: dark) {
	:root {
	  --background: #0a0a0a;
	  --foreground: #ededed;
	}
  }

  @media (prefers-color-scheme: dark) {
	html {
	  color-scheme: dark;
	}
  }
  