:root {
	--background: #ffffff;
	--foreground: #171717
  }
  
  @media (prefers-color-scheme: dark) {
	:root {
	  --background: #0a0a0a;
	  --foreground: #ededed;
	  
	}
	/* unvisited link */
a:link {
	color:rgba(179, 147, 211, 0.8);
  }
  
  
  /* mouse over link */
  a:hover {
	color: rgba(207, 115, 233, 0.8);
  }
  
  a:visited {
	color: #9498D1;
  }
  }

  @media (prefers-color-scheme: dark) {
	html {
	  color-scheme: dark;
	}
  }
  

main {
	min-height: 10vh;
	min-width: fit-content;
	display: grid;
	justify-content: center;
	align-items: center;
	padding: 2.5%;
}

h1, h2, h3 {
	text-shadow: 0.060em 0.085em rgba(179, 147, 211, 0.8)
}
h1 {
	text-align: center;
	font-size: 3.5rem;
	font-weight: bold;
}

.Profile {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding-left: 0;
	max-width: 750px;
}

h3 {
	font-size: 1.5rem;
	padding-left: 4%;
}

h2 {
	text-align: center;
	font-size: 2em;
	padding-right: 1%;
}

.Profile {
	display: flex;
	font-size: 1rem;
}

.ProjectsContainer {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	list-style: none;
	gap: 10%;
	max-width: 900px;
	justify-content: center;
}

.ProjectsContainer > li {
	flex: 1;
	border: 3px solid #ededed;
	border-radius: 10%;	
	border-style: groove;
	padding: 2%;
	box-shadow: 5px 5px 10px rgba(179, 147, 211, 0.8);
}
.ProjectsContainer > .currentProject {
	border: 3px solid #ededed;
	border-radius: 25%;	
	border-style: groove;
	padding: 2%;
	box-shadow: 5px 5px 10px rgba(179, 147, 211, 0.8);
	margin-top: 5%;
	max-width: 80%;
}

.ProjectsContainer > li > p {
	text-align: start;
	padding: 2.5%;
}


.projectLinks > a {
	align-self: center;
	padding: 1%;
}

.tech { 
	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;
	list-style-image: url("../../public/google_icon_webAsset.svg");
	justify-content: space-evenly;
	align-items: baseline;
	gap: 5%;
}
.tech > li {
	width: 33%;
}
.typeWriter {
	overflow: hidden;
	border-right: .15em solid rgba(179, 147, 211, 0.8); 
	white-space: nowrap; 
	margin: 0 auto; 
	letter-spacing: .15em; 
	animation: 
	  typing 1.5s steps(20, end),
	  blink-caret .75s step-end infinite;
  }

  @keyframes typing {
	from { width: 0 }
	to { width: 25%}
  }

  @keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: rgba(179, 147, 211, 0.8); }
  }

.blinkingText {
	justify-self: flex-end;
	text-align: center;
	font-size: inherit;
	animation: blink 1s infinite;
}
@keyframes blink {
	from, to {color: transparent}
	50%  {color: rgba(179, 147, 211, 0.8);}
}

/* .introduction {
} 
make each sentence its own p tag or its own span, line by line reveal the text as with the heading. Start it after the heading */